*{
    margin: 0;
}
.container{
    background: #D9D9D9;
    display: flex;
    height: 200px;
    padding-left: 370px;
    padding-right: 370px;
    justify-content: space-between;
    align-items: center;
}
.box1{
    color: #A62B28;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
nav ul li{
    color: #717276;
    list-style:none;
    display: inline-block;
    margin-left: 38px;
    font-size: 24px;
}
.box-image{
    display: flex;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
}
.container-box{
    display: flex;
    margin-top: 160px;
    padding-left: 370px;
    padding-right: 130px;
    align-items: center;
}
.logo{
    width: 100px;
    height: 100px;
}
.container-boxtext{
    color: #717276;
    font-family: DejaVu Sans;
    font-size: 32px;
    margin-left: 40px;
}
.container-image{
    display: flex;
    margin-top: 40px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
h2{
    color: #717276;
    font-family: DejaVu Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h3{
    color: #000;
font-family: ALK Life;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
h4{
    color: #000;
font-family: DejaVu Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.container-box-bar{
    background: #D9D9D9;
    height: 200px;
}
.text2{
    justify-items: center;
    padding-left: 370px;
}
